.envrc
build
.direnv
.cache
.clangd
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles
*.*-rep
*.sqlite
*.html
.~lock.HPC_Presentation.odp#
.spack-env
spack*
nohup.out
benchmark_results.csv
benchmark_results.txt
benchmark_results_new.csv
