.envrc
build
.direnv
.cache
.clangd
/subprojects/*
!/subprojects/packagefiles
!/subprojects/*.wrap
/subprojects/moderngpu.wrap
*.*-rep
*.sqlite
*.html
.~lock.HPC_Presentation.odp#
.spack-env
nohup.out
benchmark_results.csv
benchmark_results.txt
benchmark_results_new.csv
benchmark*.json
benchmark*.csv
.venv