stages:
  - build
  - deploy

variables:
  GIT_SUBMODULE_STRATEGY: recursive

docs:
  stage: build
  image: alpine:latest
  before_script:
    - apk add --no-cache doxygen graphviz ttf-freefont
  script:
    # Generate Doxyfile directly without Meson
    - sed 's/@project_name@/GPU-Accelerated Cuckoo Filter/g; s|@doc_out@|docs|g; s|@input_dir@|include|g' Doxyfile.in > Doxyfile
    - doxygen Doxyfile
  artifacts:
    paths:
      - docs/html
    expire_in: 1 week
  only:
    - main
    - master
    - merge_requests

pages:
  stage: deploy
  image: alpine:latest
  script:
    - mv docs/html public
  artifacts:
    paths:
      - public
  only:
    - main
    - master
  needs:
    - docs
